.userLayoutInnerLayout {
    border                  : 1px solid rgb(159, 167, 240);
    margin                  : 1%;
    padding                 : 1%;
    min-height              : 630px;
    /* display                 : grid; */
    /* grid-template-columns   : 15% 85%; */
}

.userContentOuterDiv {
    border                  : 1px solid rgb(87, 103, 248);
    border-radius           : 5px;
    margin-left             : 1%;
}

.userHeaderOuterDiv {
    height: 60px;
    background-color :rgb(87, 103, 248);
    color : white;
    font-size: 22px;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
}

.userMainContentDiv {
    border: 1px solid rgb(87, 103, 248);
    margin: 1%;
    border-radius: 5px;
    min-height: 600px;
    padding: 2%;
    font-size: 18px;
}

.userHeaderLogout {
    font-size : large;
    cursor: pointer;
    /* margin-right: 3%; */
}

.userHeaderName {
    font-size: small;
    cursor: pointer;
}

